@model CatViewModel
<h1> Add cat info</h1>
<hr/>
<form method="post">
    <div class="form-group">
        <label for="name">Cat Name: </label>
        <input type="text" name="Name" id="name" class="form-control" />
    </div>
    <div class="form-group">
        <label for="age">Cat Age: </label>
        <input type="text" name="Age" id="age" class="form-control" />
    </div>
    <div class="form-group">
        <label for="breed">Cat Breed: </label>
        <input type="text" name="Breed" id="breed" class="form-control" />
    </div>
    <div class="form-group">
        <label for="name">Cat Image URL: </label>
        <input type="text" name="ImageURL" id="imageURL" class="form-control" />
    </div>
    <div class="form-group">
        <input type="submit" value="submit" class="btn btn-primary" />
    </div>
</form>
 