@model EcoLoop.Models.NewsAddViewModel

<h2>Добавяне на новина</h2>

<form method="post">
    <input asp-for="Title" placeholder="Заглавие" />
    <textarea asp-for="ShortDescription" placeholder="Кратко описание"></textarea>
    <textarea asp-for="FullText" placeholder="Пълен текст"></textarea>
    <input asp-for="ImageUrl" placeholder="Снимка URL" />

    <button type="submit">Добави</button>
</form>
