@model List<EcoLoop.Models.NewsViewModel>

<h2>Последни новини</h2>

@foreach (var n in Model)
{
    <div style="border:1px solid gray; padding:10px; margin:10px 0;">
        <h3>@n.Title</h3>
        <p>@n.ShortDescription</p>
        <p><i>@n.CreatedOn</i></p>
        <a href="/News/Details/@n.Id">Чети повече</a>
    </div>
}
