@model EcoLoop.Models.StoreAddViewModel

<h2>Добавяне на магазин</h2>

<form method="post">
    <input asp-for="Name" placeholder="Име" />
    <input asp-for="Category" placeholder="Категория" />
    <input asp-for="Address" placeholder="Адрес" />
    <textarea asp-for="Description" placeholder="Описание"></textarea>
    <label><input type="checkbox" asp-for="AcceptsOwnPackaging" /> Приема собствени опаковки</label>
    <input asp-for="ImageUrl" placeholder="URL снимка" />

    <button type="submit">Добави</button>
</form>
