@model List<EcoLoop.Models.StoreViewModel>

<h2>Всички магазини</h2>

@foreach (var s in Model)
{
    <div>
        <h3>@s.Name</h3>
        <p>@s.Category</p>
        <p>@s.Address</p>
        <a href="/Store/Details/@s.Id">Детайли</a>
        <a href="/Store/Edit/@s.Id">Редакция</a>
    </div>
}
